<%- include("partials/header.ejs"); -%>

<h1>Home</h1>
<p><%= homeStartingContentEJS %></p>

<% console.log(posts); %> <%posts.forEach(element => { %>
<h1><%= element.postTitle %></h1>
<p>
  <%= element.postBody.substring(0, 100) + " ..." %>
  <a
    href="posts/<%= element.postTitle %>"
    >Read more
  </a>
</p>
<%});%> 
<%- include("partials/footer.ejs"); -%>
